---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Welcome";
---
<BaseLayout pageTitle={pageTitle}>
  <Greeting client:load messages={["Hello", "Hej", "Hallo", "Hola", "Habari"]} />
  <p>
  This site is currently being built and updated frequently. Feel free to checkout the other tabs to learn more about its creator and what is being built.</p>
</BaseLayout>
