---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header class="w-full py-2 px-6 bg-misty_rose flex justify-between items-center">
  <div> <!-- Container for Hamburger -->
    <Hamburger />
  </div>
  <nav class="mx-auto"> <!-- Center the navigation bar -->
    <Navigation />
  </nav>
  <div> <!-- Container for ThemeIcon -->
    <ThemeIcon />
  </div>
</header>