---
---
<div  class="nav-links font-nav">
    <a href="/" data-astro-reload>Home</a>
    <!--<a href="/about/" >About</a>-->
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <!--<a href="/tags/">Index</a>-->
    <a href="/art/">Art</a>
</div>